[Unit]
Description=SiRFIDaL NFC / RFID readers automatic ENTER typer at login

[Service]
Type=simple
ExecStart=/usr/local/bin/sirfidal_auto_send_enter_at_login.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
