[Unit]
Description=SiRFIDaL NFC / RFID readers sound feedback service

[Service]
Type=simple
ExecStart=/usr/local/bin/sirfidal_beep.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
